/* ----------------------------- */
/*              RESET              */
/* ----------------------------- */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}


/* ----------------------------- */
/*     Styles de base         */
/* ---------------------------- */

@font-face {}


/* Page */ 

html { 
  font-size: 100%;}
  
body {
  background-image:url(../images/bg.png);
  background-repeat:repeat-x; 
  margin: 0; 
  padding: 0; 
  font-family:  "Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  background-color:#202021;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;}

  /* Liens */ 
a {color:white; text-decoration: none;} 
a:link {color: white;} 
a:hover, a:focus, a:active {text-decoration: underline;} 
a:focus, a:active {outline: none;} 


  /* Titres */
  
h1 { 
  display: inline-block;
  font-weight: normal;
  color: white;}
  
h1 a, h1 a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;  }
  
h1 a:hover, h1 a:focus {
  text-decoration: none;
  outline: none;
  text-shadow: 0px 0px 20px #444;}

h2 {font-size: 1.5em;} 
 

  /* Paragraphes */ 
p {margin: .75em 0;} 
 

  /* Divers Elements de type en-ligne */ 
strong {font-weight: bold;}
.espace{ letter-spacing: 4px;}

  
/* ------------------------------ */
/*             Blocs                 */
/* ----------------------------- */

.ombre{
  -webkit-box-shadow:0 0px 40px -10px #000;
  -moz-box-shadow:0 0px 40px -10px #000;
  box-shadow:0 0px 40px -10px #000;}

.animer{ 
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}

.animer a:hover{color:#669900} 

figure{display: inline-block; vertical-align: top;}


/* Banniere */

section.banniere{
  max-height:40px;}

section.banniere h1{
  cursor:default;
  letter-spacing:4px;
  padding-left:12%; 
  font-size:1em;}
  

/* Header */ 

header{position: relative;}

header h1{
  margin-top:100px;
  font-size:2.5em;
  text-shadow: 0px 0px 5px white;}
  
header nav {
  position: absolute;
  right: 0;
  bottom: 80px;
  font-size: 1.6em;}
  
header nav li {
  display: inline;}
  
header nav a {
  position: relative;
  font-size:0.8em;
  padding: 5px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}

header nav a:hover, header nav a:focus {
  text-decoration: none;
  color:rgba(102,153,0,0.6);
  text-shadow:0px 0px 5px #111;
  border-bottom:25px dashed rgba(102,153,0,0.6);}
 
#bandeau{
  border:1px solid #777; 
  position:relative;
  margin-left:60px;}
  
  
  /* Content */ 
  
#content {
  width:1000px;
  margin: 0 auto;}
  
#content p#presentation {
  clear: both;
  font-size: 1.2em;}
  
  
  
  
/* -------------------------------- */
/*         Web mobile             */
/* ------------------------------- */

@media only screen and (max-device-width:480px) {
    html {-webkit-text-size-adjust: 150% !important;}
    body {font-size:1.2em !important;}
    h1 span {color:#fff!important;}
    header nav {position:static!important; font-size:2em!important;}
    header nav a {padding:10px 20px!important;}
    #content {height: auto!important;width: auto!important;}
    #content section {width:auto!important;margin: 70px 0!important;}
    #content figure {margin:0 10px 10px 0!important; border: 0!important;}
}

@media only screen and (max-device-width:640px), only screen and (max-width:640px) {
	#wrapper, #content, #content section, #content figure, footer {
  	width: auto !important;}
	
	img,table,td,blockquote,object,embed,video,input,code,pre,textarea {
	max-width:90% !important}	
	
	code,pre,textarea {
	word-wrap:break-word!important;
	white-space: pre-wrap!important;}
	
	body {
		background:none!important;
		background-color:#000!important;
		padding: 0 10px;
		font-size: 80%!important;}
		
	#wrapper {
		background:none!important;
		background-color:#000!important;	}
		
	#content {
		height: auto!important;}
		
	#content section {
		margin-top: 30px!important;}
		
	#content p#presentation {font-size: 1em!important; margin-bottom:0;}
	#content section h2 {margin:0!important;}
	#content section a {background:none!important;background-color:#000!important;}
	h1 {font-size: 2em!important;}
	h1 span {color:#fff!important;text-shadow:0 0 15px #FFFFFF;}
    header nav {position:static!important; font-size:1.2em!important;}
    header nav a {display:inline-block;padding:10px!important; margin-bottom: 2px!important;}
    #content {height: auto!important;width: auto!important;}
    #content section {width:auto!important;}
    #content figure {margin:0 10px 10px 0!important; border: 0!important; width:130px!important; height:auto!important; -moz-box-shadow:1px 1px 13px #fff;-webkit-box-shadow:1px 1px 13px #fff;}
	#content figure h2 {position: static!important;font-size: 1em!important; margin-left: 4px!important; color: #fff!important}
	#content figure a {color: #fff!important}
}
@media only screen and (max-device-width:640px) and (orientation:landscape)  {
	body {
	-webkit-text-size-adjust: 90% !important;}
}