/* ----------------------------- */
/*       Styles IE 6/7       */
/* ----------------------------- */

div.alert-ie {
   float:left !important;
  font-size: 1em;
  color: #FFF;
  margin:-3px 0 0 20px;}

div.alert-ie strong {
  color: #0099FF;}
  
div.alert-ie a{
  color: #0099FF;}
  
div.alert-ie a:hover{
  color: #669900;}

  
/* ------------------------------ */
/*         HEADER            */
/* ---------------------------- */
header nav.navigation ul{
  display:block;
  text-align:right;
  margin-top:10px;}
  
header nav.navigation a {
  font-size:0.8em;}
  
header nav.navigation a:hover, header nav.navigation a:focus {
  text-decoration: none;
  color:#669900;
  border-bottom:20px solid #669900;}  
  
  

/* ------------------------------ */
/*        BANNIERE         */
/* ---------------------------- */
section.banniere{
  clear:both;
  width:100%;}

#bandeau div{
  width:1000px;
  margin:0 auto;}  
  
#bandeau div h1{
  padding:10px 0 5px;
  font-size:1em;
  letter-spacing:2px;
  cursor:default;}  
  
aside.reseaux_sociaux{
  float: right !important;
  margin:-103px 70px 0 0;}

.reseaux_sociaux a:hover img, .reseaux_sociaux a:focus img {
  width:5%}  
 
  
/* ------------------------------ */
/*        COLONNES       */
/* --------------------------- */
#colonne_1{float:left;display:inline-block; width:332px; border-right:1px solid #999; height:180px;}
#colonne_2{float:left;display:inline-block; width:332px; border-right:1px solid #999; height:180px;}
#colonne_3{display:inline-block; width:332px; border-right:1px solid #999; height:180px;}
