aside.social{width:30%;display:inline-block;float: right}

.reseaux_sociaux{
	position: relative;}

.conteneur {
	position: absolute;
	padding-left: 20px
}

a.expansion {
	display: block;
	width: 40px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;}
	
.expansion img {
	width: 100%; 
}
.expansion span {
	display: none; 
	padding-left: 20px;
	color:#FFF;}