/* ----------------------------- */
/*            RESET             */
/* ----------------------------- */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display:block;}


/* ----------------------------- */
/*  STYLES DE BASE  */
/* ---------------------------- */
@font-face {
    font-family: 'super_police_bold';
	  src: url('/fonts/steelfish_bd-webfont.eot'),
			 url('../fonts/steelfish_bd-webfont.woff') format('woff'),
			 url('../fonts/steelfish_bd-webfont.ttf') format('truetype'),
			 url('../fonts/steelfish_bd-webfont.svg');
			   font-weight: normal;}

@font-face {
    font-family: 'super_police_rg';
	  src: url('/fonts/steelfish_rg-webfont.eot'),	
			 url('../fonts/steelfish_rg-webfont.woff') format('woff'),
			 url('../fonts/steelfish_rg-webfont.ttf') format('truetype'),
			 url('../fonts/steelfish_rg-webfont.svg');
			   font-weight: normal;}
			   

html {font-size: 100%;}
  
body {
  background-image:url('../images/bg.png');
  background-repeat:repeat-x; 
  margin: 0; 
  padding: 0; 
  font-family: "Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  background-color:#202021;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;}
  
/* ------------------------------ */
/*              LIENS             */
/* ----------------------------- */
a {color:white; text-decoration: none;} 
a:link {color: white;} 
a:hover, a:focus, a:active {text-decoration: underline;} 
a:focus, a:active {outline: none;} 
a img {border: none;} 

/* ------------------------------ */
/*        TITRES Hx          */
/* ----------------------------- */
h1 { 
  display: inline-block;
  font-weight: normal;}
  
h1 a, h1 a:visited {
  color: white;
  text-decoration: none;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;  }
  
h1 a:hover, h1 a:focus {
  text-decoration: none;
  outline: none;
  text-shadow: 0px 0px 20px #444;}

h2 {font-size: 1.5em;} 
 

/* ------------------------------ */
/*    PARAGRAPHE     */
/* ---------------------------- */
p {margin: .75em 0;} 
 
 
/* ------------------------------ */
/*  ~ TYPE EN-LIGNE  */
/* ---------------------------- */
figure{display: inline-block; vertical-align: top;}
strong {font-weight: bold;}
  
  
/* ------------------------------ */
/*           BLOCS              */
/* ---------------------------- */
.ombre{
  -webkit-box-shadow:0 0px 35px -10px #000;
  -moz-box-shadow:0 0px 35px -10px #000;
  box-shadow:0 0px 35px -10px #000;}

.animer{ 
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}

.animer a:hover{color:#669900} 
  

/* ------------------------------ */
/*         HEADER            */
/* ---------------------------- */
section.menu header{
  border-bottom:1px solid #888; 
  height:123px;
  width:1000px;
  margin:0 auto;}

section.menu header h1 {
  position:absolute;
  margin-top:70px; 
  font-size:2.5em;
  text-shadow: 0 0 5px white;}

section.menu header h1 a:hover{
  color:white;}
  
header nav.navigation ul{
  display:block;
  text-align:right;
  margin-top:30px;}
  
header nav.navigation li{
  display:inline;
  padding:0 8px;
  font-size: 1.6em;
  list-style-type:none;}
  
header nav.navigation a {
  font-size:0.8em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}
  
header nav.navigation a:hover, header nav.navigation a:focus {
  text-decoration: none;
  color:rgba(102,153,0,1);
  text-shadow:0 0 5px #111;
  border-bottom:20px solid rgba(102,153,0,1);}


/* ------------------------------ */
/*        BANNIERE         */
/* ---------------------------- */
section.banniere{
width:96%;
  margin:0 auto;
  height:50px;}

#bandeau{width:100%;}  
#bandeau div{width:1000px;margin:0 auto;}  
#bandeau div h1{
  padding-top:10px;
  font-size:1em;
  letter-spacing:2px;
  cursor:default;}  
  
aside.reseaux_sociaux{float: right !important; margin:-42px 70px 0 0;}
aside.reseaux_sociaux span{display:none;}
.twitter:hover span{position:absolute;display:inline;margin-top:34px;}
.facebook:hover span{position:absolute;display:inline;margin-top:34px;}
aside.reseaux_sociaux:hover a{color:#FFF;text-decoration:none;}
aside.reseaux_sociaux:hover a:hover{font-size:0.9em;color:#669900;font-weight:bold;}
aside.reseaux_sociaux img {
  margin-left:40px;
  width:45px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;}

.reseaux_sociaux a:hover img, .reseaux_sociaux a:focus img {
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);}  
  
  
/* ------------------------------ */
/*         CONTENT          */
/* ---------------------------- */
#content {border-right:1px solid green; 
  width:1000px;
  margin: 0 auto;}

  
/* ------------------------------ */
/*       SLIDESHOW       */
/* ---------------------------- */
section.slideshow{
  width:100%;
  clear:both;}
  
section.slideshow h1{
  font: 3em "super_police_rg";
  letter-spacing:7px;}

  
/* ------------------------------- */
/*    PRESENTATION   */
/* ----------------------------- */ 
section.presentation{
  clear:both;
  width:1000px;
  margin:0 auto}
 
#trait {
  width:915px;
  border-top:1px solid #999;
  margin-bottom:25px;}  

#trait h1{
  color:#999;
  font:normal 1.4em 'super_police_rg';
  letter-spacing:4px;
  position:absolute;
  margin:-18px 0 0 912px;}  

  
/* ------------------------------ */
/*        COLONNES       */
/* --------------------------- */   
#colonne_1{display:inline-block; width:328px; border-right:1px solid #999; height:180px;}
#colonne_1 h1{font:normal 2.6em "super_police_bold";letter-spacing:3px;text-decoration:underline;margin:0 0 10px 15px;}
#colonne_1 p{padding-right:15px;text-align:justify;}


#colonne_2{display:inline-block; width:330px; border-right:1px solid #999; height:180px;}
#colonne_2 h1{font:normal 2.6em "super_police_bold";letter-spacing:3px;text-decoration:underline;margin:0 0 10px 15px;}
#colonne_2 p{padding:0 15px;text-align:justify;}
  
  
#colonne_3{display:inline-block; width:330px; border-right:1px solid #999; height:180px;}
#colonne_3 h1{font:normal 2.6em "super_police_bold";letter-spacing:3px;text-decoration:underline;margin:6px 0 10px 15px;}
#colonne_3 #adresse ul{list-style-type:none;margin:0;padding-left:15px;}
#colonne_3 #adresse span{color:#669900;font-size:1.2em;letter-spacing:1px;padding:0 0 10px 40px;display:block;}
#colonne_3 #adresse li{line-height:21px;}


/* ------------------------------ */
/*          FOOTER            */
/* ---------------------------- */
footer{
	position:fixe;
	margin:120px auto 0;
	width:1000px;
	text-align:center;}

footer a, footer a:visited, footer a:link {
	color: #669900;}



/* -------------------------------- */
/*       WEB MOBILE       */
/* ------------------------------ */
@media only screen and (max-device-width:480px) {
    html {-webkit-text-size-adjust: 150% !important;}
    body {font-size:1.2em !important;}
    h1 span {color:#fff!important;}
    header nav {position:static!important; font-size:2em!important;}
    header nav a {padding:10px 20px!important;}
    #content {height: auto!important;width: auto!important;}
    #content section {width:auto!important;margin: 70px 0!important;}
    #content figure {margin:0 10px 10px 0!important; border: 0!important;}}

@media only screen and (max-device-width:640px), only screen and (max-width:640px) {
	#content, #content section, #content figure, footer {width: auto !important;}
	
img,table,td,blockquote,object,embed,video,input,code,pre,textarea {
	max-width:90% !important}	
	
code,pre,textarea {
	word-wrap:break-word!important;
	white-space: pre-wrap!important;}
	
body {
		background:none!important;
		background-color:#000!important;
		padding: 0 10px;
		font-size: 80%!important;}
		
#content {height: auto!important;}
		
#content section {margin-top: 30px!important;}
		
#content p#presentation {font-size: 1em!important; margin-bottom:0;}
#content section h2 {margin:0!important;}
#content section a {background:none!important;background-color:#000!important;}
h1 {font-size: 2em!important;}
h1 span {color:#fff!important;text-shadow:0 0 15px #FFFFFF;}
header nav {position:static!important; font-size:1.2em!important;}
header nav a {display:inline-block;padding:10px!important; margin-bottom: 2px!important;}
#content {height: auto!important;width: auto!important;}
#content section {width:auto!important;}
#content figure {margin:0 10px 10px 0!important; border: 0!important; width:130px!important; height:auto!important; -moz-box-shadow:1px 1px 13px #fff;-webkit-box-shadow:1px 1px 13px #fff;}
#content figure h2 {position: static!important;font-size: 1em!important; margin-left: 4px!important; color: #fff!important}
#content figure a {color: #fff!important}}

@media only screen and (max-device-width:640px) and (orientation:landscape)  {
body {
	-webkit-text-size-adjust: 90% !important;}}