#menu_deroulant{width:100%;float:left;margin:0 auto;} 
#menu_deroulant .top{width:100%; margin:0 auto;float:left;}


/*REALISATIONS*/
#realisations {background-color:#669900; width:100%;height:150px;border-bottom:1px dashed #EEE; }
#realisations div {width:1000px;margin:0 auto;}
#realisations div .liste{ list-style-type:none; float:left; width:240px;}
#realisations div .titre{font:bold 1.2em Arial;letter-spacing:2px;width:140px;color:#000}
#realisations div .liste li{line-height:24px;}
#realisations div .liste li a{font:bold 1em Arial; color:#FFF; text-decoration:none;display:inline-block;padding-top:6px;}
#realisations div .liste li a:hover{color:#000;}


/*CONTACT*/
#contact {background-color:#0099FF; width:100%;height:150px;border-bottom:1px dashed #EEE;}
#contact div {width:800px; margin:0 auto;}
#contact div .liste{ list-style-type:none;float:left; width:350px;}
#contact div .liste li{line-height:22px;}
#contact div .liste li span{line-height:26px;color:#000;font-size:1.6em}
#contact div .liste li a{ font:bold 1em Arial;color:#FFF; text-decoration:none;display:block;padding-top:10px;}
#contact div .liste li a:hover{color:#000;}
#contact div .pub h1{width:400px; text-align:right;margin-top:50px;color:#000; font-size:1.5em}


/* ------------------------------ */
/*  MENU DEROULANT   */
/* ----------------------------- */
#menu_deroulant .top #menu{width:820px;margin:0 auto;text-align:right;}
#menu_deroulant .top #menu span{display:inline-block;}
#menu_deroulant .top #menu .A{padding-left:17px;background:url('../images/fleche_bottom.gif') 0 0 no-repeat;}
#menu_deroulant .top #menu .B{padding-left:17px;background:url('../images/fleche_top.gif') 0 0 no-repeat;}
/* A */
#roll_A{ font:1.1em Arial; color:#FFF; text-decoration:none; cursor:pointer; margin:0 20px;display:block;}
#roll_A:hover{ color:#669900;}

/* B */
#roll_B{font:1.1em Arial; color:#FFF; text-decoration:none; cursor:pointer; margin-right:8px;}
#roll_B:hover{color:#0099FF;}
